# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/includes/smarty/templates_c/
/includes/smarty/cache/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts



config.php
includes/smarty/templates_c/b8aedd0c12af93db4a4f776e1751525ff9c79e4c_0.file.code.tpl.php
includes/smarty/templates_c/9d6b2925ad2d256d92322e99b51f0d8ac23b607a_0.file.content.tpl.php
includes/smarty/templates_c/9a7f25f19e426637765d6aeabf1e518e40cbe498_0.file.home.tpl.php
includes/smarty/templates_c/784dce43d1332f926416a582922f4c3681b893d8_0.file.index.tpl.php
includes/smarty/templates_c/62ad5d59ed4f7eea9cc2b0b691d8afd8a19ae27f_0.file.projects.tpl.php
includes/smarty/templates_c/4b88af5cde73016481440984a0f6dbaa6b52dd81_0.file.nav.tpl.php
includes/smarty/templates_c/46240e37e7259788a0ebee0084dd23566e2ac015_0.file.contentwrap.tpl.php
includes/smarty/templates_c/45ce20a9d08c2d4d70713579f27f5e3b7e1611e5_0.file.index.suckcock.php
includes/smarty/templates_c/4556c5d35a78e6e00fb4a746a12278b14c6f5f79_0.file.footer.tpl.php
includes/smarty/templates_c/3a7942747b3e91637befe4633881ccd33326b81e_0.file.head.tpl.php
includes/smarty/templates_c/1133f073c7b7e2f5d90694ecd17c398dfda66b11_0.file.cv.tpl.php
